<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AFNetworking.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>AFOAuth2Manager.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>EOKit.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-EO Sample iOS.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>410B25DF16EA5C5B3E2698F74F9625FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>82B7570C9941F873862E5EDEB8F57626</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8A48D806E37E11733E96B7AF57BB3EE9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E102868DC71CA847FF1A5D7F9A1D0F39</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
